{% extends "base.html" %}
{% load static %}
{% block title %}Password change{% endblock %}
{% block content %}
<div id="background-image" class="w-full h-auto md:h-[120vh] 2xl:h-[60vh] bg-cover py-9">
  <div class="w-full flex items-center justify-between 2xl:px-72 xl:px-32 px-5">
    <div>
      <a href="{% url 'home' %}">
        <img class="w-20 h-6 lg:w-36 lg:h-10" src="{% static 'labproflix.png' %}" alt="Labproflix">
      </a>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="bg-black bg-opacity-70 px-16 py-16 self-center mt-2 lg:w-2/5 lg:max-w-md rounded-md w-full">
        <form method="post">
          <h2 class="text-white text-4xl mb-8 font-semibold">Password change</h2>
          <div class="flex flex-col gap-4">
                {% csrf_token %}
                <div class="relative">
                    <input id="old_password" name="old_password" type="password" required autocomplete="current-password" class="cursor-text block rounded-md px-6 pt-6 pb-1 w-full text-md text-white bg-neutral-700 appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " value="">
                    <label for="old_password" class="cursor-text absolute text-md text-zinc-100 duration-150 transform -translate-y-3 scale-75 top-4 z-10 origin-[0] left-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3">Old password</label>
                </div>
                <div class="relative">
                    <input id="new_password1" name="new_password1" type="password" required autocomplete="new-password" class="cursor-text block rounded-md px-6 pt-6 pb-1 w-full text-md text-white bg-neutral-700 appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " value="">
                    <label for="new_password1" class="cursor-text absolute text-md text-zinc-100 duration-150 transform -translate-y-3 scale-75 top-4 z-10 origin-[0] left-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3">New password</label>
                </div>
                <ul class="text-white">
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <div class="relative">
                    <input id="new_password2" name="new_password2" type="password" required autocomplete="new-password" class="cursor-text block rounded-md px-6 pt-6 pb-1 w-full text-md text-white bg-neutral-700 appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " value="">
                    <label for="new_password2" class="cursor-text absolute text-md text-zinc-100 duration-150 transform -translate-y-3 scale-75 top-4 z-10 origin-[0] left-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3">New password confirmation</label>
                </div>
                <p class="text-white">Enter the same password as before, for verification.</p>
          </div>
          <button type="submit" class="bg-red-600 py-3 text-white rounded-md w-full mt-10 hover:bg-red-700 transition">Change my password</button>
        </form>
    </div>
  </div>
</div>
</form>
{% endblock %}