{% extends "base.html" %}
{% load static %}
{% block title %}Password change successful{% endblock %}
{% block content %}
<div id="background-image" class="w-full h-auto md:h-[120vh] 2xl:h-[60vh] bg-cover py-9">
  <div class="w-full flex items-center justify-between 2xl:px-72 xl:px-32 px-5">
      <div>   
          <img class="w-20 h-6 lg:w-36 lg:h-10" src="{% static 'labproflix.png' %}" alt="Labproflix">
      </div>
  </div>
  <div class="flex items-center justify-center flex-col mx-5 mt-16 md:mt-48 ">  
      <h1 class="text-white md:text-5xl text-3xl text-center font-extrabold md:font-black ">Password change successful</h1>
      <br>
      <h2 class="text-white font-semibold lg:text-xl md:tracking-wide text-lg text-center">Your password was changed.</h2>
  </div>
  <div class="flex items-center justify-center flex-col md:flex-row mt-6 gap-4">
      <button form="button1" type="submit" class="text-white bg-[rgb(229,9,20)] rounded-md hover:bg-red-700 hover:duration-500 font-bold md:h-16 md:w-1/6 md:text-xl h-12 w-[43%] text-lg 2xl:w-[6.6666%]">Login<i class="ri-arrow-right-s-line text-white text-xl md:text-2xl inline-block"></i></button>
  </div>
</div>
<form id="button1" action="{% url 'login' %}" style="display:none;" method="GET"></form>
{% endblock %}