{% extends "base.html" %}
{% load static %}
{% block title %}Password reset{% endblock %}
{% block content %}
<div id="background-image" class="w-full h-auto md:h-[120vh] 2xl:h-[60vh] bg-cover py-9">
  <div class="w-full flex items-center justify-between 2xl:px-72 xl:px-32 px-5">
    <div>
      <a href="{% url 'home' %}">
        <img class="w-20 h-6 lg:w-36 lg:h-10" src="{% static 'labproflix.png' %}" alt="Labproflix">
      </a>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="bg-black bg-opacity-70 px-16 py-16 self-center mt-2 lg:w-2/5 lg:max-w-md rounded-md w-full">
        <form method="post">
          <h2 class="text-white text-4xl mb-8 font-semibold">Password reset</h2>
          <div class="flex flex-col gap-4">
                {% csrf_token %}
                <div class="relative">
                  <input id="email" name="email" type="email" autofocus required class="block rounded-md px-6 pt-6 pb-1 w-full text-md text-white bg-neutral-700 appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " value="">
                  <label for="email" class="absolute text-md text-zinc-100 duration-150 transform -translate-y-3 scale-75 top-4 z-10 origin-[0] left-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3">Email</label>
                </div>
          </div>
          <button type="submit" class="bg-red-600 py-3 text-white rounded-md w-full mt-10 hover:bg-red-700 transition">Reset my password</button>
        </form>
    </div>
  </div>
</div>
</form>
{% endblock %}